<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Site - Admin</title>
    <link rel="stylesheet" href="/styles/astyles.css">
    <script src="/scripts/formatDate.js"></script>
</head>
<body>
    <%- include('../partials/admin/header.ejs') %>
    <main>
        <h1>Forms</h1>
        <%- include('../partials/statuses.ejs') %>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            <% for (var i = 0; i < results.rowCount; i++) { %>
            <tr>
                <td id="id<%= i+1 %>"><%= results.rows[i].id %></td>
                <td id="name<%= i+1 %>"><%= results.rows[i].name %></td>
                <td id="email<%= i+1 %>"><%= results.rows[i].email %></td>
                <td id="date<%= i+1 %>"></td>
                <script>document.getElementById("date<%= i+1 %>").innerHTML = formatDate("<%= results.rows[i].date %>");</script>
                <td>
                    <a href="/admin/viewform?id=<%= results.rows[i].id %>">View</a>
                    <a href="/admin/deleteform?id=<%= results.rows[i].id %>">Delete</a>
                </td>
            </tr>
            <% } %>
        </table>
    </main>
    <%- include('../partials/admin/footer.ejs') %>
</body>
</html>