<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Site - Admin</title>
    <link rel="stylesheet" href="/styles/astyles.css">
</head>
<body>
    <%- include('../partials/admin/header.ejs') %>
    <main>
        <h1>Members</h1>
        <%- include('../partials/statuses.ejs') %>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <% for (var i = 0; i < results.rowCount; i++) { %>
            <tr>
                <td data-label="ID" id="id<%= i+1 %>"><%= results.rows[i].id %></td>
                <td data-label="Username" id="username<%= i+1 %>"><%= results.rows[i].username %></td>
                <td data-label="Email" id="email<%= i+1 %>"><%= results.rows[i].email %></td>
                <td data-label="Role" id="role<%= i+1 %>"><%= results.rows[i].role %></td>
                <td data-label="Actions">
                    <a href="/admin/edituser?id=<%= results.rows[i].id %>">Edit</a>
                    <a href="/admin/deleteuser?id=<%= results.rows[i].id %>">Delete</a>
                </td>
            </tr>
            <% } %>
        </table>
    </main>
    <%- include('../partials/admin/footer.ejs') %>
</body>
</html>