<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Site - Admin</title>
    <link rel="stylesheet" href="/styles/astyles.css">
    <script src="/scripts/formatDate.js"></script>
</head>
<body>
    <%- include('../partials/admin/header.ejs') %>
    <main>
        <div class="form-card viewer">
            <h1>Form #<%= results.rows[0].id %></h1>
            <div id="form-name"><strong>Name:</strong> <%= results.rows[0].name %></div>
            <div id="form-email"><strong>Email:</strong> <%= results.rows[0].email %></div>  
            <div id="form-date"></div>
            <script>document.getElementById("form-date").innerHTML = '<strong>Date: </strong>' + formatDate("<%= results.rows[0].date %>");</script>
            <div id="form-msg"><strong>Message:</strong></div>  
            <p><%= results.rows[0].message %></p>
        </div>
        <a href="/admin/forms"><div class="admin-btn">Go Back</div></a>
    </main>
    <%- include('../partials/admin/footer.ejs') %>
</body>
</html>