<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/scripts/getWords.js"></script>
    <script src="/scripts/formatDate.js"></script>
    <title>News Site</title>
</head>
<body>
    <div class="wrapper hlayout">
        <%- include('partials/header.ejs') %>
        <main>
            <%- include('partials/statuses.ejs') %>
            <!-- Load News -->
            <% for (var i = 0; i < newsResults.rowCount; i++) { %>
            <div class="news-card" id="news<%= newsResults.rows[i].id %>">
                <div class="news-title"><%= newsResults.rows[i].title %></div>
                <div class="news-date" id="news-d<%= newsResults.rows[i].id %>"></div>
                <script>document.getElementById("news-d<%= newsResults.rows[i].id %>").innerHTML = "By <%= newsResults.rows[i].username %> on " + formatDate("<%= newsResults.rows[i].date %>");</script>
                <div class="news-avatar"><img src="/imgs/<%= newsResults.rows[i].avatar %>" alt="Avatar" width="64px" height=auto></div>
                <div class="news-content" id="news-c<%= newsResults.rows[i].id %>"></div>
                <script>document.getElementById("news-c<%= newsResults.rows[i].id %>").innerHTML = getWords("<%= newsResults.rows[i].content %>", 250) + "...";</script>
                <a href="/news?id=<%= newsResults.rows[i].id %>"><div class="news-btn">Read More</div></a>
            </div>
            <% } %>
        </main>
        <div class="sidebar-container">
            <div class="sidebar">
                <div class="recent-posts">
                    <div class="sidebar-header">Recent Posts</div>
                    <ul><% for (var i = 0; i < newsResults.rowCount && i < 5; i++) { %>
                        <li> <a href="/news?id=<%= newsResults.rows[i].id %>"><%= newsResults.rows[i].title %></a></li>
                    <% } %></ul>
                </div>
                <div class="site-stats">
                    <div class="sidebar-header">Site Statistics</div>
                    <p style="padding-top: 5px;">Total Posts: <%= newsResults.rowCount %></p>
                    <p>Total Members: <%= userResults.rowCount %></p>
                    <p>Newest Member: <%= userResults.rows[0].username %></p>
                </div>
            </div>
        </div>
        <%- include('partials/footer.ejs') %>
    </div>
</body>
</html>