<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/scripts/getWords.js"></script>
    <script src="/scripts/formatDate.js"></script>
    <title>News Site</title>
</head>
<body>
    <div class="wrapper hlayout">
        <%- include('partials/header.ejs') %>
        <main>
            <ul><% if(typeof errors != 'undefined') { %>
                    <% errors.forEach(error => { %>
                        <li><%= error.message %></li>
                    <% }) %>
                <% } %></ul>
            <ul><% if (messages.success_msg) { %>
                        <li><%= messages.success_msg %></li>
                <% } %></ul>

            <!-- Load News -->
            <% for (var i = 0; i < results.rowCount; i++) { %>
            <div class="news-card" id="news<%= results.rows[i].id %>">
                <div class="news-title"><%= results.rows[i].title %></div>
                <div class="news-date" id="news-d<%= results.rows[i].id %>"></div>
                <script>document.getElementById("news-d<%= results.rows[i].id %>").innerHTML = "By <%= results.rows[i].username %> on " + formatDate("<%= results.rows[i].date %>");</script>
                <div class="news-avatar"><img src="/imgs/<%= results.rows[i].avatar %>" alt="Avatar" width="64px" height=auto></div>
                <div class="news-content" id="news-c<%= results.rows[i].id %>"></div>
                <script>document.getElementById("news-c<%= results.rows[i].id %>").innerHTML = getWords("<%= results.rows[i].content %>", 250) + "...";</script>
                <a href="/news?id=<%= results.rows[i].id %>"><div class="news-btn">Read More</div></a>
            </div>
            <% } %>
        </main>
        <div class="sidebar">
            <div class="sidebar-card">
                <div class="recent-posts">
                    <div class="sidebar-header">Recent Posts</div>
                    <ul><% for (var i = 0; i < results.rowCount && i < 5; i++) { %>
                        <li> <a href="/news?id=<%= results.rows[i].id %>"><%= results.rows[i].title %></a></li>
                    <% } %></ul>
                </div>
                <div class="site-stats">
                    <div class="sidebar-header">Site Statistics</div>
                    <p>Total Posts: <%= results.rowCount %></p>
                    <p>Total Likes: 0</p>
                    <p>Total Members: 0</p>
                    <p>Newest Member: Jake</p>
                </div>
            </div>
        </div>
        <%- include('partials/footer.ejs') %>
    </div>
</body>
</html>