<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="/scripts/getWords.js"></script>
    <script src="/scripts/formatDate.js"></script>
    <title>News Site</title>
</head>
<body>
    <div class="wrapper nlayout">
        <header>
            <div class="logo">News Site</div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/login">Login</a></li> <!-- Disappear if user is logged in -->
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/admin/">Admin</a></li> <!-- Disappear if user role != 2 -->
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <article>
                <div class="left-flex">
                    <h1><%= results.rows[0].title %></h1>
                    <div class="a-author"><%= results.rows[0].username %></div>
                    <time id="time"></time>
                </div>
                <script>document.getElementById("time").innerHTML = formatDate("<%= results.rows[0].date %>");</script>
                <div class="right-flex">
                    <div class="a-avatar"><img src="/imgs/<%= results.rows[0].avatar %>" alt="Avatar" width="64px" height=auto></div>
                </div>
                <hr style="width: 95%;">
                <div class="a-content"><%= results.rows[0].content %></div>
            </article>
            <a href="/"><div class="news-btn" style="float: left; margin: 10px 5px;">Go Back</div></a>
        </main>
        <footer>
            <div class="copyright">&copy; Jake Buhite</div>
            <div class="contact-link"><a href="/contact">Contact Us</a></div>
        </footer>
    </div>
</body>
</html>